.entry-container>h1{
    text-align: centered;
    /* font-size: 59px; */
    font-weight: 400px;
}

.p {
    text-align:center;
    font-weight: 20px;
}

.registration {
    display: flex;
    gap : 6rem;
     margin-left: 1rem;
     margin-right: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem; 
    justify-content: center;
}

.reg > button {
    width : 200%;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 8px;
    color:azure;
    background-color: rgb(227, 163, 0);
    font-weight: bold;
}

.reg > button:hover {
    color: rgb(23, 22, 22);
}